body {
  heigth: 100%;
}

.screen-calculator {
  text-align: right;
  padding-right: 10px;
  height: 30%;
}

.screen-keyboard {
  height: 100%;
}

#screen-calculator-result {
  font-size: 43px;
  color: #171717;
}

#screen-calculator-count {
  font-size: 25px;
  font-weight: bold;
  color: #8c8c8c;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
}
.grid-item {
  padding: 20px;
  font-size: 35px;
  text-align: center;
  color: #6c6c6c;
}

.grid-item-operator {
  color: #8c8c8c;
}

.grid-item:active {
  color: #2c2c2c;
  background-color: rgb(250,250,250);
}
 
.result-button {
  color: #fff;
  background-color: #38c3f5;
}

.result-button:active {
  background-color: #24a5e1;
  color: #fff;
}

.delete-button {
  color: #fff;
  background-color: #ed3a3a;
}

.delete-button:active {
  background-color: #b51919;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: between;
}

.button-item{
  font-size: 35px;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 20px;
  margin: 0.5rem;
}
